@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
}

:host {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  flex: 1;
}

.content {
  margin-top: 60px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  &-container {
    max-width: 1400px;
    width: 100%;
    padding: 0 2rem;
  }
}
