@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
}

:host {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
  flex: 1;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.content {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  &-container {
    max-width: 1400px;
    width: 100%;
  }
}
