<form [ngStyle]="{ display: show_resume ? 'none' : 'flex' }">
  <div class="form-group">
    <label for="last_name" class="form-label">Nom <span>*</span></label>
    <input
      type="text"
      name="last_name"
      id="last_name"
      class="form-control"
      #lastname_model="ngModel"
      [(ngModel)]="lastname"
      appInputError
      required
    />
    <div
      *ngIf="
        lastname_model.invalid &&
        (lastname_model.dirty || lastname_model.touched)
      "
    >
      <div class="form-error" *ngIf="lastname_model.errors?.['required']">
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="first_name" class="form-label">Prénom <span>*</span></label>
    <input
      type="text"
      name="first_name"
      id="first_name"
      class="form-control"
      #firstname_model="ngModel"
      [(ngModel)]="firstname"
      appInputError
      required
    />
    <div
      *ngIf="
        firstname_model.invalid &&
        (firstname_model.dirty || firstname_model.touched)
      "
    >
      <div class="form-error" *ngIf="firstname_model.errors?.['required']">
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="form-label">Adresse <span>*</span></label>
    <input
      type="text"
      name="adrress"
      id="address"
      class="form-control"
      #address_model="ngModel"
      [(ngModel)]="address"
      appInputError
      required
    />
    <div
      *ngIf="
        address_model.invalid && (address_model.dirty || address_model.touched)
      "
    >
      <div class="form-error" *ngIf="address_model.errors?.['required']">
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="cp" class="form-label">Code postal <span>*</span></label>
    <input
      type="text"
      name="cp"
      id="cp"
      class="form-control"
      #cp_model="ngModel"
      [(ngModel)]="cp"
      appInputError
      required
    />
    <div *ngIf="cp_model.invalid && (cp_model.dirty || cp_model.touched)">
      <div class="form-error" *ngIf="cp_model.errors?.['required']">
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="city" class="form-label">Ville <span>*</span></label>
    <input
      type="text"
      name="city"
      id="city"
      class="form-control"
      #city_model="ngModel"
      [(ngModel)]="city"
      appInputError
      required
    />
    <div *ngIf="city_model.invalid && (city_model.dirty || city_model.touched)">
      <div class="form-error" *ngIf="city_model.errors?.['required']">
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="country" class="form-label">Pays <span>*</span></label>
    <select
      name="country"
      id="country"
      class="form-control"
      #country_model="ngModel"
      [(ngModel)]="country"
      appInputError
      required
    >
      <option value="france">France</option>
      <option value="deutsch">Deutschland</option>
      <option value="us">United-States</option>
    </select>
    <div
      *ngIf="
        country_model.invalid && (country_model.dirty || country_model.touched)
      "
    >
      <div class="form-error" *ngIf="country_model.errors?.['required']">
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="phone" class="form-label">Téléphone <span>*</span></label>
    <input
      type="text"
      name="phone"
      id="phone"
      class="form-control"
      #phone_model="ngModel"
      [(ngModel)]="phone"
      appInputError
      pattern="^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$"
      required
    />
    <div
      *ngIf="phone_model.invalid && (phone_model.dirty || phone_model.touched)"
    >
      <div class="form-error" *ngIf="phone_model.errors?.['required']">
        Champ requis.
      </div>
      <div class="form-error" *ngIf="phone_model.errors?.['pattern']">
        Veuillez entrer un numéro de téléphone valide.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="civ" class="form-label">Civitilité <span>*</span></label>
    <select
      name="civility"
      id="civility"
      class="form-control"
      #civ_model="ngModel"
      [(ngModel)]="civ"
      appInputError
      required
    >
      <option value="male">Homme</option>
      <option value="female">Femme</option>
      <option value="other">Autre</option>
    </select>
    <div *ngIf="civ_model.invalid && (civ_model.dirty || civ_model.touched)">
      <div class="form-error" *ngIf="civ_model.errors?.['required']">
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="form-label">Email <span>*</span></label>
    <input
      type="email"
      name="email"
      id="email"
      class="form-control"
      #email_model="ngModel"
      [(ngModel)]="email"
      appInputError
      email
      required
    />
    <div
      *ngIf="email_model.invalid && (email_model.dirty || email_model.touched)"
    >
      <div class="form-error" *ngIf="email_model.errors?.['required']">
        Champ requis.
      </div>
      <div class="form-error" *ngIf="email_model.errors?.['email']">
        Veuillez entrer une email valide.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="login" class="form-label">Login <span>*</span></label>
    <input
      type="text"
      name="login"
      id="login"
      class="form-control"
      #login_model="ngModel"
      [(ngModel)]="login"
      appInputError
      required
    />
    <div
      *ngIf="login_model.invalid && (login_model.dirty || login_model.touched)"
    >
      <div class="form-error" *ngIf="login_model.errors?.['required']">
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="form-label">Mot de passe <span>*</span></label>
    <input
      type="password"
      name="passwordd"
      id="password"
      class="form-control"
      [(ngModel)]="password"
      #password_model="ngModel"
      appInputError
      minlength="8"
      required
    />
    <div
      *ngIf="
        password_model.invalid &&
        (password_model.dirty || password_model.touched)
      "
    >
      <div class="form-error" *ngIf="password_model.errors?.['required']">
        Champ requis.
      </div>
      <div class="form-error" *ngIf="password_model.errors?.['minlength']">
        Le mot de passe doit contenir au moins 8 caractères.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm_password" class="form-label"
      >Confirmer le mot de passe <span>*</span></label
    >
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      class="form-control"
      #confirm_password_model="ngModel"
      [(ngModel)]="confirm_password"
      appInputError
      minlength="8"
      required
    />
    <div
      *ngIf="
        confirm_password_model.invalid &&
        (confirm_password_model.dirty || confirm_password_model.touched)
      "
    >
      <div
        class="form-error"
        *ngIf="confirm_password_model.errors?.['required']"
      >
        Champ requis.
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="form-button" (click)="onSubmit()">
      VALIDER
    </button>
  </div>
</form>
